{% include 'modules/custom/vols/templates/admin/menu/top.html.twig' %}

<div class="title">
  <h3>Liste des vols</h3>
  <span style="float: right;">
    <a class="btn btn-primary" href="{{ path('vols.create_vol_form', {"entity_id": "vol", "entity_list": "vol_list"}) }}">Ajouter</a>
  </span>
</div>

<div class="table-responsive">
  <table class="table table-hover" style="width: 100%;">
    <thead>
        <th>#</th>
        <th>N° de vol</th>
        <th>Compagnie</th>
        <th>Jour</th>
        <th>Horaire</th>

        <th>Destination</th>
        <th>Provenance</th>

        <th>Statut</th>
        <th>Action</th>
    </thead>

    <tbody>
      {% if items %}
        {% for vol in items %}
          <tr>
            <td>{{ vol.id }}</td>
            <td>{{ vol.flightNumber }}</td>
            <td>
              {% if vol.photo != NULL %}
                <img src="{{ vol.photo }}" alt="" class="img-front" />
              {% endif %}
              {{ vol.company }}</td>

            {% if type == 'departure' %}

              {% if vol.scheduledDepartureTime == "" %}
                <td>{{ vol.scheduledDepartureTime}}</td>
              {% else %}
                <td>{{ vol.scheduledDepartureTime|date('d/m/Y')}}</td>
              {% endif %}


              {% if vol.scheduledDepartureTime == "" %}
                <td>{{ vol.scheduledDepartureTime}}</td>
              {% else %}
                <td>{{ vol.scheduledDepartureTime|date('H:i')}}</td>
              {% endif %}

            {% else %}

              {% if vol.scheduledArrivalTime == "" %}
                <td>{{ vol.scheduledArrivalTime}}</td>
              {% else %}
                <td>{{ vol.scheduledArrivalTime|date('d/m/Y')}}</td>
              {% endif %}


              {% if vol.scheduledArrivalTime == "" %}
                <td>{{ vol.scheduledArrivalTime}}</td>
              {% else %}
                <td>{{ vol.scheduledArrivalTime|date('H:i')}}</td>
              {% endif %}

            {% endif %}

            <td>{{ vol.arrivalAirportName}}</td>
            <td>{{ vol.departureAirportName}}</td>

            <td>{{ vol.status}}</td>
            <td>

              <a href="{{ path("vols.view_vol_form", {"id": vol.id}  ) }}" class="btn btn-info btn-sm"> Voir</a>

              <a href="{{ path("vols.update_vol_form", {"id": vol.id, "entity_id": "vol", "entity_list": "vol_list"}  ) }}" class="btn btn-warning btn-sm"> Modifier</a>

              <button onclick="deleteEntity({{ vol.id }});" class="delete-entity-button btn btn-danger btn-sm"> Supprimer</button>

              <form action="{{ path("vols.delete_vol_form", {"id": vol.id}  ) }}" id="delete_form-{{ vol.id }}" method="POST"></form>

            </td>
          </tr>
        {% endfor %}
      {% else %}
        <td colspan="8">Aucun vols</td>
      {% endif %}
    </tbody>
  </table>

  <div class="b-pagination-outer">
    <div style="float: left;">
      Affichage {{ total_item }} élément(s) sur {{ total_row }} enregistrements
    </div>
    <ul style="float: right" id="border-pagination">
      {% for item_page in range(1, nbre_page) %}
        {% if item_page == page %}
          <li><a href="{{ path('vols.vol_list', {"page": item_page}) }}" class="active">{{ item_page }}</a></li>
        {% else %}
          <li><a href="{{ path('vols.vol_list', {"page": item_page}) }}">{{ item_page }}</a></li>
        {% endif%}

      {% endfor %}
    </ul>
  </div>
</div>

