{% include 'modules/custom/vols/templates/admin/menu/top.html.twig' %}

<div class="title">
  <h3>Liste des compagnies</h3>
  <span style="float: right;">
    <a class="btn btn-primary" href="{{ path('vols.create_company_form', {"entity_id": "company", "entity_list": "company_list"}) }}">Ajouter</a>
  </span>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <th>#</th>
        <th>Code</th>
        <th>Nom</th>

        <th>Action</th>
    </thead>

    <tbody>
      {% if items %}
        {% for item in items %}
            <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.code }}</td>
            <td>
              {% if item.photo != NULL %}
                <img src="{{ item.photo }}" alt="" class="img-fluid" />
              {% endif %}

              {{ item.name }}</td>
            <td>
              <a href="{{ path("vols.view_company_form", {"id": item.id}  ) }}" class="btn btn-info btn-sm"> Voir</a>

              <a href="{{ path("vols.update_company_form", {"id": item.id, "entity_id": "company", "entity_list": "company_list"}  ) }}" class="btn btn-warning btn-sm"> Modifier</a>

              <button onclick="deleteEntity({{ item.id }});" class="delete-entity-button btn btn-danger btn-sm"> Supprimer</button>

              <form action="{{ path("vols.delete_company_form", {"id": item.id}  ) }}" id="delete_form-{{ item.id }}" method="POST"></form>

            </td>
          </tr>
        {% endfor %}
      {% else %}
        <td colspan="4">Aucun enregistrement</td>
      {% endif %}
    </tbody>
  </table>

  <div class="b-pagination-outer">
    <div style="float: left;">
      Affichage {{ total_item }} élément(s) sur {{ total_row }} enregistrements
    </div>
    <ul style="float: right" id="border-pagination">
      {% for item_page in range(1, nbre_page) %}
        {% if item_page == page %}
            <li><a href="{{ path('vols.company_list', {"page": item_page}) }}" class="active">{{ item_page }}</a></li>
        {% else %}
          <li><a href="{{ path('vols.company_list', {"page": item_page}) }}">{{ item_page }}</a></li>
        {% endif%}

      {% endfor %}
    </ul>
  </div>

</div>
