{% include 'modules/custom/vols/templates/admin/menu/top.html.twig' %}

<div class="title">
  <h3>Liste des vols</h3>
  <span style="float: right;">
    <a href="#">Ajouter</a>
  </span>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <th>N° de vol</th>
        <th>Compagnie</th>
        <th>Jour</th>
        <th>Horaire</th>

        <th>Destination</th>
        <th>Provenance</th>

        <th>Statut</th>
        <th>Action</th>
    </thead>

    <tbody>
      {% if vols %}
        {% for vol in vols %}
          <tr>
            <td>{{ vol.flightNumber }}</td>
            <td>{{ vol.airlineName }}</td>

            {% if type == 'departure' %}

              {% if vol.scheduledDepartureTime == "" %}
                <td>{{ vol.scheduledDepartureTime}}</td>
              {% else %}
                <td>{{ vol.scheduledDepartureTime|date('d/m/Y')}}</td>
              {% endif %}


              {% if vol.scheduledDepartureTime == "" %}
                <td>{{ vol.scheduledDepartureTime}}</td>
              {% else %}
                <td>{{ vol.scheduledDepartureTime|date('H:i')}}</td>
              {% endif %}

              <td>{{ vol.arrivalAirportName}}</td>
              <td>{{ vol.departureAirportName}}</td>

            {% else %}

              {% if vol.scheduledArrivalTime == "" %}
                <td>{{ vol.scheduledArrivalTime}}</td>
              {% else %}
                <td>{{ vol.scheduledArrivalTime|date('d/m/Y')}}</td>
              {% endif %}


              {% if vol.scheduledArrivalTime == "" %}
                <td>{{ vol.scheduledArrivalTime}}</td>
              {% else %}
                <td>{{ vol.scheduledArrivalTime|date('H:i')}}</td>
              {% endif %}

              <td>{{ vol.departureAirportName}}</td>

            {% endif %}


            <td>{{ vol.status}}</td>
            <td></td>
          </tr>
        {% endfor %}
      {% else %}
        <td colspan="8">Aucun vols</td>
      {% endif %}
    </tbody>
  </table>
</div>

