{% if type == 'departure' %}
    <h3>Liste des départs de l'Aéroport de <span style="text-transform: uppercase;">Lomé</span> TOKOIN</h3>
{% else %}
    <h3>Liste des arrivées à l'Aéroport de <span style="text-transform: uppercase;">Lomé</span> TOKOIN</h3>
{% endif %}

<div class="table-responsive">
  <table class="table table-hover" style="width: 100%;">
    <thead>
        <th  style="width: 12%;">N° de vol</th>
        <th>Compagnie</th>
        <th style="width: 20%;">Jour / Horaire</th>
{#        <th style="width: 10%;"></th>#}

        {% if type == 'departure' %}
          <th style="width: 20%;">Destination</th>
        {% else %}
          <th style="width: 20%;">Provenance</th>
        {% endif %}

        <th style="width: 20%;">Statut</th>
    </thead>

    <tbody>
      {% if vols %}
        {% for vol in vols %}
          <tr>
            <td>{{ vol.flightNumber }}</td>
            <td>
              {% if vol.photo != NULL %}
                <img src="{{ vol.photo }}" alt="" class="img-front" />
              {% endif %}
              {{ vol.company }}</td>


            {% if type == 'departure' %}
              <td>
              {% if vol.scheduledDepartureTime == "" %}
               {{ vol.scheduledDepartureTime}}
              {% else %}
               {{ vol.scheduledDepartureTime|date('d/m/Y H:i')}}
              {% endif %}
              </td>

              <td>{{ vol.arrivalAirportName}}</td>

            {% else %}
              <td>
              {% if vol.scheduledArrivalTime == "" %}
               {{ vol.scheduledArrivalTime}}
              {% else %}
               {{ vol.scheduledArrivalTime|date('d/m/Y H:i')}}
              {% endif %}
              </td>

              <td>{{ vol.departureAirportName}}</td>

            {% endif %}


            <td style="text-transform: uppercase;">{{ vol.status}}</td>
          </tr>
        {% endfor %}
      {% else %}
        <td colspan="8">Tous les vols ont été achevés pour aujourd'hui.</td>
      {% endif %}
    </tbody>
  </table>
</div>

